*{
    font-family: 'Montserrat', sans-serif;;
./*menu de navegacion*/
.menu-navegacion{
    background-color: blueviolet;
}

/*galeria*/
.card-img{
   width: 50%;
}
/*inicio*/
card-img{
width: 50%;
}
/*locales*/
.card img{
    width: 50%;
}
 
}
